.details h3 {
  margin-top: 2rem;
}

.details p {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.details a {
  margin-top: 0.5rem;
  font-weight: bold;
  text-decoration: underline;
}
.details button {
  background-color: #4299e1;
  height: 3rem;
}
